<%= stylesheet_link_tag "sign_up" %>
<div class="hero">
  <%= link_to root_path do %>
    <%= image_tag "arrow.png", class: "nav-icon" %>
  <% end %>
  <h3>Register</h3>
  <div class="circle">
    <%= link_to new_registration_path(resource_name), class: "btn btn-primary" do %>
      Next
    <% end %>
  </div>
</div>

<div class="close">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= image_tag "avatar.jpg", class: "avatar" %>

    <div class="form-group">
      <%= f.text_field :name, placeholder: "Full name", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.email_field :email,
                    autofocus: true,
                    autocomplete: "email",
                    placeholder: "Email",
                    class: "form-control" %>
    </div>

    <div class="form-group">
      <% if @minimum_password_length %>
      <% end %><br/>
      <%= f.password_field :password,
                       autocomplete: "new-password",
                       placeholder: "Password",
                       class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.password_field :password_confirmation,
                       autocomplete: "new-password",
                       placeholder: "Confirm Password",
                       class: "form-control" %>
    </div>
  <% end %>
</div>
