<h1>New Group</h1>

<%= form_with(model: @group, local: true) do |form| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
<div class="field">
  <%= form.label :description %>
  <%= form.text_area_field :description, required: true %>
</div>

  <div class="field">
    <%= form.label :icon %>
    <%= form.file_field :icon_data %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
