<%= stylesheet_link_tag "forgot_password" %>
<div class="pass-container">
  <div class="pass-header">
    <%= image_tag "lock.png", class: "lock-img" %>
    <p>Forgot your password?</p>
  </div>
  <div class="instruction">
    <p>Enter your email that you used to register your account, so we can send
      you a link to reset your password.</p>
  </div>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><span style="color: red;">*</span><br/>
      <%= f.email_field :email,
                    placeholder: "Enter email",
                    autofocus: true,
                    autocomplete: "email",
                    class: "starlabel",
                    required: true %>
    </div>

    <div class="actions">
      <%= f.submit "Reset", class: "actions" %>
    </div>
  <% end %>
  <div class="confirm-btn">
    <%= render "devise/shared/links" %>
  </div>

  <div>
