<%= stylesheet_link_tag "log_in" %>
<div class="hero">
  <%= link_to landing_pages_path do %>
    <%= image_tag "arrow.png", class: "nav-icon" %>
  <% end %>
  <div>
    <h3>LOGIN</h3>
  </div>
  <div class="circle">
    <input type="submit" value="Next" form="new_user">
  </div>
</div>
<div class="container">
  <div>
    <span>Login</span>
  </div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="filed-holder">
      <div class="field">
        <span>Email</span>
        <%= f.email_field :email,
                      autofocus: true,
                      autocomplete: "email",
                      placeholder: "johndoe@gmail.com" %>
      </div>

      <div class="field code">
        <span>Password</span>
        <%= f.password_field :password,
                         autocomplete: "current-password",
                         placeholder: "Password" %>
      </div>
      <div class="circle hide">
        <input type="submit" value="Login" form="new_user">
      </div>

      <div class="links hide">
        <%= render "devise/shared/links" %>
      </div>
    </div>
    <!-- Remove the Log in button -->
  <% end %>
</div>
<div class="links">
  <%= render "devise/shared/links" %>
</div>
