<!DOCTYPE html>
<html>
  <head>
    <title>MoneyOrderApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    >
    <link
      href="https://fonts.googleapis.com/css2?family=Proxima+Nova:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    >
  </head>

  <body>
    <div class="notice">
      <div class="notification-body">
        <%= image_tag "circle-checked.png", class: "notication_icon" %>
        <span class="cont">
          <%= notice %>
          &#128640;
        </span>
      </div>
      <div class="notification-progress"></div>
    </div>
    <div class="alert"><%= alert %></div>
    <%= yield %>
  </body>
</html>
